.esoft-chat-header-title {
    text-align: center;
}

.esoft-chat-body {
    display: flex;
    flex-direction: column;
    height: calc(80vh - 60px);
    width: 90vw;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow-y: auto;
}

.esoft-chat-name {
    color: rgb(126, 126, 126);
    position: absolute;
    top: 2px;
    left: 30px;
}

.esoft-chat {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.esoft-chat-body-message-content {
    margin: 10px;
    padding: 2px 4px;
    border-radius: 28px;
    min-width: 200px;
    max-width: 80%;
    border: 1px solid #ccc;
    background-color: rgb(233, 231, 211);
    position: relative;



}

.esoft-chat-body-message-content-admin {
    margin: 10px;
    margin-left: auto;

    min-width: 200px;
    max-width: 80%;
    padding: 5px 10px;
    position: relative;

    border-radius: 28px;
    border: 1px solid #ccc;
    background-color: rgb(191, 248, 250);


}

.esoft-chat-footer {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.esoft-chat-body-message p {
    margin-left: 10px;
}

.esoft-chat-footer input {
    width: 300px;
    margin-right: 20px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
}

.esoft-chat-footer-btn {
    width: 100px;
    height: 60px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}