.esoft-chat-header-title {
    text-align: center;
}

.esoft-chat-body {
    display: flex;
    flex-direction: column;
    height: calc(80vh - 60px);
    width: 90vw;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow-y: auto;
}

.esoft-chat {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.esoft-chat-body-message-content {
    margin: 10px;
    padding: 5px 20px;
    border-radius: 28px;
    border: 1px solid #ccc;
    background-color: rgb(238, 230, 155);


}

.esoft-chat-body-message-content-admin {
    margin: 10px;
    padding: 5px 20px;
    border-radius: 28px;
    border: 1px solid #ccc;
    background-color: rgb(155, 235, 238);


}

.esoft-chat-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;

}

.esoft-chat-footer input {
    width: 300px;
    margin-right: 20px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
}

.esoft-chat-footer-btn {
    width: 100px;
    height: 60px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}