.esoft-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

@media screen and (min-width: 768px) {
    .esoft-content {
        height: calc(100vh - 60px);
    }


}

.esoft-content-notlogged {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 6px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.esoft-content-notlogged button {
    margin: 10px;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
}

.esoft-content-notlogged button:hover {
    background-color: rgb(255, 249, 225);
    color: #000;
    cursor: pointer;

}