.esoft-content-subjects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.esoft-content-subjects a {
    text-decoration: none !important;
}

.esoft-content-subjects-subject {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 30px;
    width: 250px;
    height: 250px;
    padding: 20px;
    cursor: pointer;
}

.esoft-content-subjects-subject:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

}

.esoft-content-subjects-subject-title {
    font-size: 22px;
    margin-bottom: 4px;
    font-weight: bold;
    color: #000;

}

.esoft-content-subjects-subject-teacher {
    font-size: 18px;
    color: #000;
}

.esoft-content-subjects-subject-image img {
    width: 250px;
    height: 200px;
}